@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&display=swap');
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url(./assets/fonts/AvenirNextLTPro-Bold.otf) format('opentype');
    font-weight: 700;
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url(./assets/fonts/AvenirNextLTPro-Regular.otf) format('opentype');
    font-weight: 400;
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

/* navbar */
.navbar {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    justify-content: space-between;
}
.navbar div {
    width: 25%;
}
.navbar a {
    text-decoration: none;
}
.navbar a:hover {
    color: #f1356d;
}
.navbar .navbar-logo {
    text-align: center;
    max-height: 100%;
}
.navbar .navbar-help {
    text-align: right;
}

/* content */
.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

/* home loading page */
.home-loading-page {
    position: absolute;
    top: calc(50% - 2em);
    left: calc(50% - 2.75em);
    transition: opacity 1s;
}
.home-loading-page span {
    font-weight: 700;
    font-size: 32px;
    animation: fading 1s forwards ease-in-out;
    display: inline-block;
    opacity: 0;
    transform: translateX(40px);
}
.home-loading-page span:nth-child(1) {
    animation-delay: 0s;
}
.home-loading-page span:nth-child(2) {
    animation-delay: 0.1s;
}
.home-loading-page span:nth-child(3) {
    animation-delay: 0.2s;
}
.home-loading-page span:nth-child(4) {
    animation-delay: 0.3s;
}
.home-loading-page span:nth-child(5) {
    animation-delay: 0.4s;
}
.home-loading-page span:nth-child(6) {
    animation-delay: 0.5s;
}
@keyframes fading {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* home */
.home {
    text-align: center;
}
.home .homepage{
    transition: opacity 1s;
}
.home .main-img {
    padding: 12px 0px;
    position: relative;
}
/* dragon */
.home .main-img img:nth-child(2) {
    position: absolute;
    top: calc(50% - 6rem);
    left: calc(50% + 2.8rem);
    width: 32px;
}
/* pig */
.home .main-img img:nth-child(3) {
    position: absolute;
    top: calc(50% - 3.4em);
    left: calc(50% - 1.8em);
    width: 20px;
}
/* goat */
.home .main-img img:nth-child(4) {
    position: absolute;
    top: calc(50% + 5em);
    left: calc(50% - 9em);
    width: 32px;
}
/* rooster */
.home .main-img img:nth-child(5) {
    position: absolute;
    top: calc(50% + 5.5em);
    left: calc(50% + 5em);
    width: 40px;
}
/* rabbit */
.home .main-img img:nth-child(6) {
    position: absolute;
    top: calc(50% + 0em);
    left: calc(50% + 0.3em);
    width: 15px;
}
/* tiger */
.home .main-img img:nth-child(7) {
    position: absolute;
    top: calc(50% + 4em);
    left: calc(50% - 3em);
    width: 32px;
}
/* monkey */
.home .main-img img:nth-child(8) {
    position: absolute;
    top: calc(50% - 1em);
    left: calc(50% - 8em);
    width: 22px;
}
.home .home-title{
    padding: 12px 0px 24px 0px;
    font-family: 'Averia Sans Libre', 'cursive';
    font-size: 40px;
}
.home .home-title h1{
    font-family: inherit;
    font-size: inherit;
}
.home .home-form .input-box{
    font-family: inherit;
    font-size: 16px;
    display: block;
    height: 54px;
    width: 100%;
    margin: 12px 0px;
    padding: 0px 12px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
.home .home-form button{
    font-family: inherit;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 54px;
    margin: 12px 0px;
    background-color: #216BFF;
    color: white;
    border-radius: 4px;
    border-style: none;
    border-width: 0px;
}
.home .home-description {
    padding: 12px 0px;
}

/* summary */
.summary .summary-page {
    transition: opacity 3.5s 2s ease-out;
}
.summary .summary-head {
    text-align: center;
    font-family: 'Averia Sans Libre', 'cursive';
    font-size: 32px;
    padding: 12px 0px;
}
.summary .summary-head h1 {
    font-family: inherit;
    font-size: inherit;
    padding-bottom: 12px;
}
.summary .summary-head p {
    font-family: 'Avenir Next LT Pro';
    font-size: 16px;
}
.summary .summary-head img {
    max-width:70%;
}
.summary .summary-details {
    padding: 12px 0px;
}
.summary .summary-details .summary-details-2-cols {
    display: flex;
    justify-content: space-between;
    padding: 6px 0px;
}
.summary .summary-details .summary-details-2-cols div {
    width: 50%;
}
.summary .summary-details .summary-details-1-col {
    padding: 6px 0px;
}
.summary .summary-details h4 {
    padding-bottom: 4px;
}
.summary .summary-listings {
    padding: 12px 0px;
}
.summary .summary-listings h2 {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 6px;
}
.summary .summary-listings .summary-buttons {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 6px 0px;
}
.summary .summary-listings .summary-buttons a {
    color: #216BFF;
}

/* listing card */
.listing-card {
    box-shadow: 0px 4px 16px 0px #0B113426;
    left: 20px;
    top: 1190px;
    border-radius: 4px;
    padding: 12px;
    margin: 10px 0px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
.listing-card:hover {
    transform: translate(-2px, -2px);
    box-shadow: 0px 8px 20px 0px #0B113426;
}
.listing-card img {
    height: 156px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    object-fit: cover;
}
.listing-card .listing-details {
    width: 100%;
    left: 12px;
    top: 251px;
    border-radius: 0px;
    color: #1A2258;
}
.listing-card .listing-details .listing-address-line-1 {
    font-weight: 700;
    font-size: 14px;
    padding: 6px 0px 2px 0px;
}
.listing-card .listing-details .listing-address-line-2 {
    font-weight: 400;
    font-size: 12px;
    color: #787D9C;
    padding: 2px 0px 6px 0px;
}
.listing-card .listing-details .listing-detail-1 {
    font-weight: 400;
    font-size: 14px;
    padding: 6px 0px;
}
.listing-card .listing-details .listing-price {
    font-weight: 400;
    font-size: 14px;
    padding: 6px 0px;
    display: flex;
    align-items: center;
}
.listing-card .listing-details .listing-price .price-main{
    font-weight: 700;
    font-size: 16px;
}
.listing-card .listing-details .listing-price .price-ppsf{
    font-weight: 400;
    font-size: 12px;
    color: #787D9C;
    padding-left: 10px;
}
.listing-contact {
    display: flex;
    padding: 6px 0px;
}
.listing-contact img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.listing-contact .updated-at {
    font-weight: 400;
    font-size: 12px;
    color: #9A9EB5;
    padding-left: 10px;
}

/* loading-page */
.loading-page {
    transition: opacity 3s ease-out;
    position: relative;
}
.loading-page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 50px;
    position: absolute;
    top: calc(50% - 0em);
    left: calc(50% - 9em);
    
}
.loading-page-text{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-family: 'Averia Sans Libre';
    font-size: 16px;
}
.loading-page-text span {
    animation: flicker-reverse 2.5s ease-in-out infinite;
    opacity: 0;
}
.loading-page-text span:nth-child(1) {
    animation-delay: 0s;
}
.loading-page-text span:nth-child(2) {
    animation-delay: 0.25s;
}
.loading-page-text span:nth-child(3) {
    animation-delay: 0.5s;
}
.loading-page-text span:nth-child(4) {
    animation-delay: 0.75s;
}
.loading-page-text span:nth-child(5) {
    animation-delay: 1s;
}
.loading-page-text span:nth-child(6) {
    animation-delay: 1.25s;
}
.loading-page-text span:nth-child(7) {
    animation-delay: 1.5s;
}
.loading-page-text span:nth-child(8) {
    animation-delay: 2s;
}
.loading-page-text span:nth-child(9) {
    animation-delay: 2.5s;
}
.loading-page-child-1 img{
    width: 80px;
    opacity: 0;
    animation: flicker-reverse 2.5s infinite linear;
}
.loading-page-child-2 img{
    width: 80px;
    opacity: 0;
    animation: flicker-reverse 2s infinite linear;
}
.loading-page-child-3 img{
    width: 80px;
    opacity: 0;
    animation: flicker-reverse 3.75s infinite linear;
}
.loading-page-child-4 img{
    width: 80px;
    opacity: 0;
    animation: flicker-reverse 1.5s infinite linear;
}
@keyframes load8 {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
@keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flicker-reverse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* hide */
.loader--hide {
    opacity: 0;
}

/* base styles */
* {
    margin: 0;
}
body {
    font-family: 'Avenir Next LT Pro';
    font-weight: 400;
    color: #1A2258;
}
a {
    text-decoration: none;
    color: inherit;
}